<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        #grid_container{
            grid-template: repeat({{y}}, auto) / repeat({{x}}, auto);
        }
        .color1{
            background: {{color1}};
        }
        .color2{
            background: {{color2}};
        }
    </style>
</head>
<body>
    <h1>({{x}}, {{y}}) Checkerboard</h1>
    <div id="wrap">
        <div id="grid_container">
            {% for i in range(y): %}
                {% for j in range(x): %}
                    <div class="tile color{{ (i+j)%2+1 }}"></div>
                {% endfor %}            
            {% endfor %}
        </div>
    </div>
</body>
</html>
